body {
    margin: 0;
    overflow: hidden;
}

.header > h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: black;
}


.header {
    background-color: #F5F6FA;
    height: 130px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #EFEFEF;
    height: 100vh;
}

.nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    padding: 20px;
}

.nav > li {
    background-color:#F5F6FA;
    padding: 10px;
    width: 200px;
    border-radius: 1rem;
}

.nav > li:hover {
    background-color: #FF3B3F;
    color: white;
    cursor: pointer;
}

.sidebar > h3 {
    text-align: center;
    font-size: 25px;
}

.todo-list > ul {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0px;
}

.todo-list > ul > li {
    background-color:#F5F6FA;
    padding: 10px;
    border-radius: 1rem;
}

.todo-list {
    padding: 40px;
    padding-top: 19px;
}

.complete-button {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #EFEFEF;
    background-color: white;
}

.add-task {
    text-align: center;
    color:rgba(0, 0, 0, 0.8);
}