body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header > h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: black;
}


.header {
    background-color: #F5F6FA;
    height: 130px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #EFEFEF;
    height: 100vh;
}

.nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    padding: 20px;
}

.nav > li {
    background-color:#F5F6FA;
    padding: 10px;
    width: 200px;
    border-radius: 1rem;
}

.nav > li:hover, .all-tasks.current-page, .todays-tasks.current-page, .upcoming-tasks.current-page {
    background-color: #FF3B3F;
    color: white;
    cursor: pointer;
}

.sidebar > h3 {
    text-align: center;
    font-size: 25px;
}

.todo-list > ul {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0px;
}

.task-template, .task {
    background-color:#F5F6FA;
    padding: 10px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list > ul > li:hover {
    cursor: pointer;
}

.todo-list {
    padding: 40px;
    padding-top: 19px;
    display: flex;
    flex-direction: column;
}

.complete-button {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #EFEFEF;
    background-color: white;
}

.add-task {
    text-align: center;
    color:rgba(0, 0, 0, 0.8);
}

.add-task:hover {
    cursor: pointer;
}

.add-task-form {
    height: 340px;
    width: 500px;
    background-color:#EFEFEF;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 220px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    border-radius: 5px;
    display: none;
    padding: 15px;
}

.opacity-cover {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    display: none;
    backdrop-filter: blur(3px);
}

.add-task-form-data {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 18px;
}

#description {
    width: 493px; 
    height: 88px;
    resize: none;
}

.add-task-button, .edit-task-button {
    width: 100px;
    height: 40px;
    margin-left: 50%;
    margin-top: 10px;
    border-radius: 1rem;
    background-color:#ddd;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.add-task-button:hover {
    cursor: pointer;
}

.select-priority {
    display: flex;
    gap: 10px;
    align-items: center;
}

#title, #description {
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: none;
}

#date {
    border-radius: 1rem;
    padding: 5px;
    border: none;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.select-priority input[type="radio"] {
    opacity: 0;
    width: 0;
    position: fixed;
}

.select-priority label, .task-priority {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 15px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    border-radius: 4px;
}

.select-priority #Low-priority:checked + label {
    background-color: #59981A;
    color: white;
}

.select-priority #Medium-priority:checked + label {
    background-color: #FFAC1C;
    color: white;
}

.select-priority #High-priority:checked + label {
    background-color: #FC0E0E;
    color: white;
}

.select-priority input[type="radio"]:focus + label {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.select-priority input[type="radio"]:hover + label {
    cursor: pointer;
}

.task-description {
    font-size: smaller;
    margin-top: 5px;
}

#delete-button, #edit-button, #info-button {
    fill: gray;
    margin-left: 5px;
}

.task-complete-button {
    height: 25px;
    width: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 50%;
    border: none;
    margin-right: 15px;
    margin-left: 10px;
}

.checked {
    background-image: url(check.svg);
    background-position: 1px 1px;
    background-color: gray;
}

.complete {
    text-decoration: line-through;
    opacity: 50%;
}

.information-left, .information-right {
    display: flex;
    align-items: center;
}

.task-dueDate {
    font-size: 15px;
    color:#FC0E0E;  
    margin-right: 15px; 
}

.task-priority {
    margin-right: 15px;
    color: white;
}